{% extends 'layouts/application.html' %}

{% block content %}
<div class="text-box text-brand-black no-shadow">
    <h1>Causes</h1>

    <ul>
        <li>We believe that&nbsp;<strong>all people are created in the image of God and endowed with equal dignity and
                worth.</strong> Civil Rights are not a luxury to be granted, they are the bedrock of a just society.</li>
        <li>We believe that this fundamental&nbsp;<strong>dignity and equal treatment under the law should never be
                denied on the basis of race or ethnicity, gender, sexual orientation, religion, age, or ability.</strong></li>
        <li>We believe that&nbsp;<strong>these rights apply to all people everywhere,</strong> not just those belonging
            to a particular nation or born in a particular place.</li>
        <li>And finally, we believe that&nbsp;<strong>education, economic assistance/development, and protection from
                violence or the fear of violence are concrete ways we can help those in need&nbsp;to achieve the
                dignity and equality they deserve.</strong></li>
    </ul>
    <h2>Our Commitment</h2>

    <p>Our business is committed to donating 10% of our income (not just our profits) to organizations that embody
        these principles and advocate for the rights and privileges of others. We break this down into the following
        cornerstone causes:</p>

    <ol>
        <li>Global Human Rights: Human Rights Watch</li>
        <li>Racial Equality: The Southern Poverty Law Center</li>
        <li>Women’s Equality: #HeForShe / UN Women</li>
        <li>LGBTQ Equality: GLAAD</li>
        <li>Education: The Literacy Network of South Berkshire County</li>
        <li>Economic Development and Assistance: Heifer International, the Rhode Island Conference Haiti Project</li>
        <li>Disaster Relief and Recovery: Global Ministries, Episcopal Relief and Development</li>
        <li>Refugee Protection: IRIS</li>
    </ol>
</div>
{% endblock %}