{% extends 'layouts/application.html' %}

{% block content %}
<div id="hello-container" class="step" style="background-image: url(/images/women-looking-at-skyline_web.jpg)">
  <div id="hello-inner" class="container-inner bg-brand-gray-dark">
    <div class="logo-box">
      <img id="soren-logo" src="/images/SorenLogoNew-Web.png">
    </div><!-- logo -->
    <div id="hello-text" class="text-box">
      <h2>Providing leading insights on Tech Policy, Cyber Security, and Software Supply Chains</h2>
    </div><!-- hello-text -->
  </div><!-- hello-inner -->
</div><!-- hello-container -->
<div id="discovery-container" class="step" style="background-image: url(/images/StPaulsLongExposure.jpg)">
  <div id="discovery-inner" class="container-inner bg-brand-black">
    <div id="discovery-text" class="text-box">
      <ul>
        <li><a title="The Soren Review" href="https://www.getrevue.co/profile/SorenReview" target="_blank" >The Soren Review Newsletter</a>: Curating the best in tech policy research and analysis, providing original insights on major issues facing global leaders</li>
        <li><a title="Secret Handshakes" href="https://medium.com/secret-handshakes" target="_blank" >Secret Handshakes</a>: Explanations of technical topics in layman's terms</li>
        <li><a title="Read the Source" href="https://medium.com/read-the-source" target="_blank">Read the Source</a>: Deep reads of actual open source software code</li>
        <li><a title="CNCF TAG-Security" href="https://github.com/cncf/tag-security" target="_blank">CNCF TAG-Security</a>: Supporting the CNCF in creating works on cloud native security, software suppy chains, and more</li>
      </ul>
    </div><!-- discovery-text -->
  </div><!-- discovery-inner -->
</div><!-- discovery-container -->
{% endblock %}