{% extends 'layouts/application.html' %}

{% block content %}
<div id="mission-container" class="step" style="background-image: url(/images/Providence_RI_skyline_web.jpg)">
    <div id="mission-inner" class="container-inner bg-brand-gray-dark">
        <div class="logo-box">
            <img id="soren-logo" src="/images/SorenLogoNew-Web.png">
        </div><!-- logo -->
        <div id="mission-text" class="text-box">
            <h2>Soren is here to help those who help the rest of us.</h2>
            <p>You work hard to complete your mission. It should be comforting to know that we are just as committed to
                ours:</p>
            <blockquote>Soren exists to serve mission-driven organizations by providing products and services which
                enable them to pursue their own missions more effectively and efficiently through the use of technology.</blockquote>
        </div><!-- mission-text -->
    </div><!-- mission-inner -->
</div><!-- hello-container -->
<div id="motivation-container">
    <div id="motivation-inner" class="container text-box">
        <h2>Our Motivation: We've Been There, Too</h2>
        <p>Our founder, Alex Floyd Marshall, started off as a youth pastor who was (and still is) passionate about
            helping young people in their life journey. Soren got started as a side-gig helping colleagues in ministry
            who struggled to understand the web and social media.</p>
        <p>For one such project, Alex found himself helping a minister colleague redesign a website using a specialty
            “church website” service. The project brought two revelations that were critical to our sense of purpose.
            First, this specialty service was, shall we say, awful. One example: the built-in calendar could only
            handle 50 repetitions of an event. So when you put in weekly worship (you know, maybe the first event a
            church might add to their calendar), you couldn’t even get through a whole year (52 weeks) before you ran
            out of repetitions. Second, for something so carelessly designed it sure cost a lot of money! In other
            words, Alex’s colleagues were getting seriously ripped off.</p>
        <p>Alex was so incensed that he did two things. First, he founded his own company to help this colleague and
            others like them that were getting similarly scammed. Second, he submitted a proposal to this colleague
            that saved them 85% per year compared to what they had been spending and provided them a better website
            that served their needs more effectively and efficiently.</p>
        <p>That’s the sense of purpose that has motivated us ever sense: how can we help our clients save time and
            money using technology so that they can focus more of their resources on the critical, life and world
            changing work that defines their missions?</p>
    </div>
</div>
<div id="approach-container">
    <div id="approach-inner" class="text-box">
        <h2>Our Approach is Focused on You</h2>
        <h3>Intentionality: No One Size-Fits All Solutions</h3>
        <p>Every decision, from the tools we use to the colors we design with, is carefully considered to align with
            the personality and needs of your organization.</p>
        <h3>Strategic Alignment: Centered on Your Goals</h3>
        <p>We believe technology makes it possible to do more than just tell people about what you do. It can also help
            you do what you do even better than you already do it. We work alongside your team to design solutions that
            extend your work, service, and ministry into the digital sphere.</p>
        <h3>Efficiency: Smarter, Not Harder</h3>
        <p>You and your staff already have enough on your plate. We want to make your lives easier, not pile on. So we
            always build with your needs and abilities in mind.</p>
        <h3>Ease of Use: Intuitive and Supported</h3>
        <p>An out of date website or database is at best irrelevant and at worst damaging to your organization’s
            reputation and operations. We intentionally choose tools that will be easy to use and provide training and
            support to make sure you feel confident and ready to go.</p>
        <h3>Cost Savings: Protecting Your Resources</h3>
        <p>Your budget should reflect your mission. We think your technology spending should, too. Having a technology
            strategy that advances your core mission can help you use your time, talent, and treasure in a way that you
            can feel good about.</p>
    </div>
</div>
<div id="values-container">
    <div id="values-interior" class="text-box">
        <h2>Our Values Align With Yours</h2>
        <h3>Collaboration: Partnerships, Not Transactions</h3>
        <p>The modern web is marked by things like social media, open source development, platform services, and the
            collaboration economy. We believe this ethos can and should resonate with the mission of nonprofits:
            working together, we can be and do more than we can alone. It also marks our approach to working with our
            clients. You’ll hear us say “we” a lot: once we’re on board, we consider ourselves part of your team. Your
            mission is our mission. We share in your successes and your failures. And we have a vested interest in
            helping you do your best work.</p>
        <h3>Empathy: Designing With Compassion for Others</h3>
        <p>You wouldn’t do what you do if you didn’t care deeply about others. Nor would we. Just as you strive to make
            your buildings welcome and accessible and your workplaces and programs safe for everyone, we want to make
            your web presence one that everyone can participate in. From designing for screen-readers to establishing
            guidelines for a safe online community, we strive to ensure that the medium you use to communicate conveys
            your message of compassion just as loudly as your words do.</p>
        <h3>Mission: Not Your Average Marketing Agency</h3>
        <p>The business approach to web design and social media is all about marketing. Build a brand, get the name and
            logo in front of more potential customers, and hope some of them land on your page and give you their email
            address so you can do direct sales-outreach. Of course, mission-driven organizations need to do some
            marketing and promotion. You need new donors, new members, new advocates for your cause. But what’s missing
            from this picture is your actual mission. We believe that todays technology, as interactive and
            collaborative as it is, can do more than promote brand awareness: it can provide you with tools to advance
            your mission, and even to pursue it more efficiently and effectively. So let’s talk real strategy, not just
            marketing strategy. Let’s talk about how to do your mission, not just how to tell people about it!</p>
        <h3>Leadership: Contributing to the Cultural Conversations of Today</h3>
        <p>As we dive deeper and deeper into the digital information age, our society faces some big questions: how to
            protect individual privacy? How to structure a primarily digital economy? What new rules or standards of
            etiquette should govern how we interact with each other in a world of digital devices? We strongly believe
            that organizations that look out for the common good and don’t have a profit motive should be leading these
            conversations. But that can only happen if those organizations also have a deep first-hand knowledge of the
            cultural and technological landscapes and the possibilities they hold. So our interest is in helping
            nonprofits achieve technological leadership so they can continue to exert cultural leadership. Are you
            ready to be a leader?</p>
        <h3>Advocacy: Standing By Our Beliefs and Helping Others Do the Same</h3>
        <p>Growing out of our core values, we also feel strongly that our business must publicly stand for what we
            believe is right:</p>
        <ul>
            <li>We believe that <emphasis>all people are created in the image of God and endowed with equal dignity and
                    worth.</emphasis> Civil Rights are not a luxury to be granted, they are the bedrock of a just
                society.</li>
            <li>We believe that this fundamental<emphasis>dignity and equal treatment under the law should never be
                    denied on the basis of race or ethnicity, gender, sexual orientation, religion, age, or ability.</emphasis>
            </li>
            <li>We believe that <emphasis>these rights apply to all people everywhere,</emphasis> not just those
                belonging to a particular nation or born in a particular place.</li>
            <li>And finally, we believe that <emphasis>education, economic assistance/development, and protection from
                    violence or the fear of violence are concrete ways we can help those in need to achieve the dignity
                    and equality they deserve.</emphasis>
            </li>
        </ul>
        <p>Our business is committed to donating 10% of our income (not just our profits) to organizations that embody
            these principles and advocate for the rights and privileges of others. Find out more on our “causes” page.</p>
    </div>
</div>
{% endblock %}