{% extends 'layouts/application.html' %}

{% block content %}
<div class="text-box text-brand-black no-shadow">
<h1>Our Services</h1>

<h2>Strategic Alignment</h2>

<p>Fundamental to our mission and philosophy is that how you use technology (ranging from your desk phones to your
    database systems to your website and social media presence) should fundamentally align with your mission. What we
    mean by that is that technology shouldn’t be just be administrative cost and/or marketing. It should be a core part
    of your operations, making you better at what you do and ultimately saving you time and money in the process
    (allowing you to do more). To help you achieve this goal, we focus a lot of time and energy on the concept of
    strategic alignment: understanding your mission, goals, and needs and designing a unique set of tools and processes
    that fit your organization and amplify its effectiveness.</p>

<h2>IT Cost Assessments</h2>

<p>Soren got started largely because a colleague of our founder was being seriously ripped off by the maker of a
    “specialty” website builder that was genuinely awful. (read more of our story here) A hot-button issue for us is
    nonprofits who are overpaying for services that underdeliver. To help make sure you aren’t in that boat, we offer a
    comprehensive review of your technology spending and work with you to identify vendors who can provide better
    services for a lower cost, giving you both more resources and a better toolkit to work with on your
    mission-critical endeavors.</p>

<h2>Coaching and Training</h2>

<p>For many the pace technology has changed faster in the past few decades than comfort with technology can keep up. If
    that’s you, know that you are not alone and have nothing to be ashamed of. One of our specialties is training you
    and your team to use new tools that will save you time and energy. Whether you are relatively comfortable and ready
    for a deep dive or afraid that hitting the wrong set of buttons will launch a Russian satellite out of the back of
    your monitor, we can help. And we stand ready to offer that help as often as necessary until you feel comfortable
    and confident.</p>

<h2>Content Development and Distribution</h2>

<p>A common pain point for many nonprofit organizations is keeping fresh content on their websites and social media
    profiles. The good news is, you can lean on us for this. Whether that means providing us with content you create to
    publish or tasking us with creating content for you, we’ve got you covered. We can help you develop and implement a
    content strategy, including everything from regular blog updates to e-newsletters to social media postings to paid
    digital advertising campaigns.</p>

<h2>Website Design and Development</h2>

<p>Having a unique, inviting, and up-to-date website is critical to staying relevant and engaged with your audience in
    today’s world. We are experts at website design and development. We are proficient in a number of web platforms,
    ranging from good-ol’ HTML to WordPress, Squarespace, and newfangled products like Gatsby or Directus. If you don’t
    know what any of those things are, that’s fine. That’s what we’re here for: to guide you through the process of
    finding the right set of tools for your specific needs and taking care of all the technical details for you.</p>
</div>
{% endblock %}