/* Primary Sections */
.step {
    @apply min-h-stretch bg-cover bg-center bg-no-repeat;
}

.container-inner {
    @apply h-stretch py-8 opacity-50;
}

/* Blocks */
.text-box {
    @apply my-1 p-8 mx-auto max-w-lg;
}

.logo-box {
    margin-left: 50%;
    margin-right: 20%;
    max-width: 35%;
}