/* Primary Sections */
.step {
    @apply bg-cover bg-center bg-no-repeat;
}

.step,
.container-inner {
    height: 200vh;
}

@screen tabp {
    .step,
    .container-inner {
        height: 150vh;
    }
}

@screen tabl {
    .step,
    .container-inner {
        @apply h-stretch;
    }
}

.container-inner {
    @apply py-8 opacity-50;
}

/* Blocks */
.text-box {
    @apply my-1 p-8 mx-auto max-w-lg;
}

.logo-box {
    margin-left: 50%;
    margin-right: 20%;
    max-width: 35%;
}