body {
  @apply .font-sans;
  @apply .font-normal;
  @apply .leading-normal;
  @apply .tracking-normal;
  @apply .text-base;
  color: white;
  text-shadow: 1px 1px 1px black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply .font-serif;
  @apply .leading-loose;
}

h1 {
  @apply .text-3xl;
}

h2 {
  @apply .text-2xl;
}

h3 {
  @apply .text-xl;
}

h4 {
  @apply .text-lg;
}

h4,
h5,
h6 {
  @apply .font-bold;
}

a {
  @apply text-link-blue;
  @apply no-underline;
}

a:hover {
  @apply text-link-blue-clicked;
}